{% extends 'base.html' %}
{% load static %}
{% block link %}<a href="/">Назад к списку</a>{% endblock link %}
{% block header %} {{ header }} {% endblock header %}
{% block content %}

	<form enctype="multipart/form-data" method='POST' name='SendImage'>
		{% csrf_token %}
		<table cols='2'>
		{% for field in form %}
		<tr>
 			<td>{{ field.label_tag }}</td>
 		</tr>
 		<tr>
 			<td>{{ field }}</td>
 		</tr>
 		{% endfor %}
 		<td><input type="Submit" name="" value="Отправить"></input></td>
 		</table>

	</form>
	<script src="{% static 'script.js' %}"></script>
{% endblock content %}

